.maintenance{
  background: linear-gradient(108.05deg, #E9ECF0 0%, #E9ECF0 100.81%, #E9ECF0 100.81%);
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
      }
  }
  &.showed{
    .maintenance__socials{
      transform: translateY(200px);
      transition: 0.5s ease-in-out;
    }
  }
  &__container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    @media all and (max-width: 1600px){
      max-width: 1200px;
    }
    @media all and (max-width: 1400px){
      padding: 0 75px;
    }
    @media all and (max-width: 1024px){
      padding: 0 50px;
    }
    @media all and (max-width: 768px){
      padding: 0 35px;
    }
    @media all and (max-width: 500px){
      padding: 0 20px;
      padding-bottom: 18vh;
    }
  }
  &__decoration{
    img{
      position: absolute;
      z-index: 0;
    }
    &-left{
      top: 255px;
      left: 261px;
      @media all and (max-width: 1024px){
        left: 20px;
      }
      @media all and (max-width: 500px){
        bottom: 154px;
        top: auto;
      }
    }
    &-right{
      bottom: 376px;
      right: 310px;
      @media all and (max-width: 1024px){
        right: 40px;
      }
    }
    &-rl{
      bottom: -487px;
      left: -794px;
      animation-name: spin;
      animation-duration: 12000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @media all and (max-width: 1024px){
        width: 70%;
        bottom: -282px;
        left: -349px;
      }
      @media all and (max-width: 768px){
        width: 80%;
        bottom: -108px;
        left: -119px;
      }
    }
    &-rr{
      top: -933px;
      right: -528px;
      transform: rotate(33.3deg);
      animation-name: spin;
      animation-duration: 15000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @media all and (max-width: 1024px){
        width: 70%;
        top: -326px;
        right: -313px;
      }
      @media all and (max-width: 768px){
        width: 80%;
        top: -180px;
        right: -180px;
      }
      @media all and (max-width: 500px){
        width: 80%;
        top: -180px;
        right: -180px;
      }
    }
  }
  &__logo{
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    @media all and (max-width: 1600px){

    }
    @media all and (max-width: 1400px){

    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){

    }
  }
  &__title{
    margin-bottom: 51px;
    width: 100%;
    z-index: 1;
    @media all and (min-width: 1400px) and (max-height: 900px){
      margin-bottom: 30px;
    }
    @media all and (max-width: 400px){
      margin-bottom: 20px;
    }
    span{
      font-weight: 900;
      font-size: 86px;
      line-height: 98.3%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: block;
      @media all and (max-width: 1600px){
        font-size: 70px;
      }
      @media all and (max-width: 1400px){
        font-size: 60px;
      }
      @media all and (max-width: 1024px){
        font-size: 50px;
      }
      @media all and (max-width: 768px){
        font-size: 40px;
      }
      @media all and (max-width: 500px){
        font-size: 35px;
      }
      @media all and (max-width: 400px){
        font-size: 30px;
      }
      &:nth-child(odd){
        text-align: left;
      }
      &:nth-child(even){
        text-align: right;
      }
    }
  }
  &__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 98.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #15223D;
    padding: 25px 43px;
    background: #E0E4E9;
    border-radius: 37px;
    width: auto;
    display: inline-block;
    margin-bottom: 94px;
    position: relative;
    @media all and (max-width: 1600px){

    }
    @media all and (min-width: 1400px) and (max-height: 900px){
      margin-bottom: 76px;
    }
    @media all and (max-width: 1400px){
      margin-bottom: 50px;
    }
    @media all and (max-width: 1024px){
      font-size: 20px;
    }
    @media all and (max-width: 768px){
      font-size: 18px;
      width: 100%;
    }
    @media all and (max-width: 500px){
      font-size: 14px;
    }
    @media all and (max-width: 400px){
      margin-bottom: 20px;
      padding: 25px 20px;
    }
  }
  &__center{
    position: relative;
    display: inline-block;

  }
  &__up{
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    line-height: 98.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #15223D;
    top: -49px;
    left: -68px;
    @media all and (max-width: 1600px){

    }
    @media all and (max-width: 1400px){
      top: -30px;
      width: 130px;
      left: 5px;
    }
    @media all and (max-width: 1024px){
      top: -20px;
      width: 100px;
      left: 18px;
    }
    @media all and (max-width: 768px){
      top: -20px;
      width: 80px;
      left: 0px;
    }
    @media all and (max-width: 400px){
      top: 4px;
    }
    svg{
      max-width: 100%;
    }
  }
  &__wow{
    font-weight: 500;
    font-size: 151px;
    line-height: 98.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #15223D;
    margin-bottom: 115px;
    margin-right: auto;
    margin-left: auto;
    @media all and (max-width: 1600px){
      margin-bottom: 90px;
    }
    @media all and (max-width: 1400px){
      margin-bottom: 0px;
      max-width: 80%;
    }
    @media all and (min-width: 1400px) and (max-height: 900px){
      margin-bottom: 0px;
    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){
      max-width: 100%;
      margin-bottom: 0;
    }
    svg{
      max-width: 100%;
    }
  }
  &__btn{
    background: linear-gradient(131.19deg, #FFFFFF 15.91%, #FFFFFF 84.39%);
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    border-radius: 75px;
    padding: 20px 55px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    @media all and (max-width: 768px){
      padding: 20px 20px;
      width: 100%;
    }
    svg{
      position: absolute;
      right: 25px;
      top: calc(50% - 4px);
      opacity: 0;
      transition: 0.3s ease-in-out;
      z-index: 1;
      pointer-events: none;
    }
    &:hover{
      padding-left: 32px;
      padding-right: 79px;
      svg{
        opacity: 1;
      }
      &:before{
        opacity: 1;

      }
      span{
        color: white;
      }
    }
    span, input{
      position: relative;
      transition: 0.3s ease-in-out;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #15223D;
    }
    &:before{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      background: linear-gradient(269.16deg, #7283FF 0.38%, #FF2CEA 99.77%);
      box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
      border-radius: 75px;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }
  &__socials{
    position: absolute;
    bottom: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
    @media all and (max-width: 1024px){
      bottom: 50px;
    }
    @media all and (max-width: 768px){
      bottom: 50px;
    }
    &-item{
      margin: 0 38px;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 98.3%;
      letter-spacing: 0.02em;
      color: #A9B3C0;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease-in-out;
      @media all and (max-width: 1600px){

      }
      @media all and (max-width: 1400px){

      }
      @media all and (max-width: 1024px){
        font-size: 13px;
        margin-bottom: 20px;
      }
      @media all and (max-width: 768px){

      }
      @media all and (max-width: 500px){
        font-size: 12px;
      }
      @media all and (max-width: 400px){
        margin: 0 12px;
        margin-bottom: 10px;
      }
      &:hover{
        border-bottom: 1px solid #A9B3C0;
      }
    }
  }
  &__copyright{
    position: absolute;
    right: 53px;
    bottom: 76px;
    transform: rotate(90deg);
    transform-origin: bottom right;
    @media all and (max-width: 1600px){

    }
    @media all and (max-width: 1400px){

    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){
      transform: rotate(0);
      transform-origin: center;
      bottom: 20px;
      right: auto;
    }
    @media all and (max-width: 500px){

    }
  }
}
.fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
  &:before{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    backdrop-filter: blur(3px);
    background: linear-gradient(108.05deg, #E9ECF0 0%, #E9ECF0 100.81%, #E9ECF0 100.81%);
    width: 100vw;
    height: 100vh;
    transform: scale(0.1);
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
  }
  &.showed{
    display: flex!important;
    pointer-events: all;
    &:before{
      transform: scale(1);
      opacity: 1;
      transition: 0.3s ease-in-out;
      transition-delay: 0.3s;
    }
  }
  &__container{
    width: 975px;
    max-width: calc(100vw - 100px);
    background: linear-gradient(106.14deg, #FFFFFF -54.27%, rgba(255, 255, 255, 0) 170.05%);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    filter: drop-shadow(30px 90px 98px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(3px);
    border-radius: 31px;
    padding: 49px 78px 78px 78px;
    position: relative;
    @media all and (max-width: 500px){
      max-width: calc(100vw - 40px);
    }
  }
  &__close{
    position: absolute;
    width: 56px;
    height: 56px;
    background: linear-gradient(106.14deg, #FFFFFF -54.27%, rgba(255, 255, 255, 0) 111.05%);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    filter: drop-shadow(0px 90px 98px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(3px);
    border-radius: 31px;
    right: -56px;
    top: -56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      path{
        transition: 0.3s ease-in-out;
      }
    }
    &:hover{
      svg{
        path {
          fill: #15223D;
        }
      }
    }
  }
  &__form{
    margin-top: 36px;
    padding: 0 64px;
    text-align: center;
    .acceptance{
      display: flex;
      color: #15223D;
      font-weight: 400;
      > .wpcf7-form-control-wrap{
        width: auto;
        height: auto;
        margin-bottom: 0;
        span{
          margin-bottom: 0;
          margin-left: 0;
          text-align: left;
          width: auto;
        }
        .wpcf7-list-item{
          margin-right: 18px;
          input{
            margin-top: 0;
            position: relative;
            background-color: transparent;
            border: none;
            &:before{
              position: absolute;
              left: -1px;
              top: -1px;
              content: "";
              display: block;
              width: 18px;
              height: 18px;
              background: #FFFFFF;
              border-radius: 3px;
            }
            &:after{
              position: absolute;
              left: 2px;
              top: 2px;
              content: "";
              display: block;
              border-bottom: 2px solid #fff;
              border-left: 2px solid #fff;
              width: 10px;
              height: 5px;
              transform: rotate(-45deg);
              pointer-events: none;
            }
          }
          input:checked:before{
            background-color: #A9B3C0;
          }
        }
      }
    }
    p{
      text-align: center;
    }
    br{
      display: none;
    }
    span{
      width: 100%;
      display: block;
      margin-bottom: 29px;
    }
    input{
      background: #FFFFFF;
      border: 1px solid #A9B3C0;
      border-radius: 38px;
      width: 100%;
      padding: 14px 37px;
      margin-top: 8px;
      text-align: left;
    }
    label{
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #A9B3C0;
    }
    .fade-button{
      display: inline-block;
      position: relative;
      margin-top: 39px;
      &:before{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: linear-gradient(269.16deg, #7283FF 0.38%, #FF2CEA 99.77%);
        box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
        border-radius: 75px;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover{
        background-color: transparent;
        &:before{
          opacity: 1;
        }
        input{
          color: white;
        }
      }
      svg{
        position: absolute;
        right: 25rem;
        top: calc(50% - 4px);
        pointer-events: none;
      }
      p{
        margin-bottom: 0;
      }
      input{
        margin-top: 0;
        transition: 0.3s ease-in-out;
        border: none;
      }
      span{
        margin-bottom: 0;
      }
      .wpcf7-spinner{
        display: none!important;
      }
    }
    .wpcf7-submit{
      max-width: 377px;
      width: 100%;
      margin-top: 57px;
      font-weight: 400;
      font-size: 14px;
      line-height: 141.3%;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #15223D;
      &:hover{
        background-color: transparent!important;
      }
    }
  }
  &__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 160.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #15223D;
    margin-bottom: 0;
    @media all and (max-width: 1600px){

    }
    @media all and (max-width: 1400px){

    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){

    }
  }
  &__contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 62px;
    &-item{
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: 141.3%;
      letter-spacing: 0.02em;
      color: #15223D;
      margin-bottom: 8px;
      text-decoration: none;
    }
    .desc{
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 98.3%;
      letter-spacing: 0.02em;
      color: #A9B3C0;
    }
    &-column{
      width: calc(50% - 25px);
      position: relative;
      padding-left: 62px;
      svg{
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 36px;
      }
    }
  }
}